body {
	font: 12px Verdana, Arial, sans-serif;
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.tag p {
	font-size: 9px;
}
#footer {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 2px solid #CCC;
	font-size: 11px;
}
a {
	color: #243F8F;
}

#alpha-right {
	float: right;
	padding-left: 15px;
	padding-bottom: 15px;
	width: 250px;
}

#alpha-right h3 {
	font: bold 13px Georgia, "Times New Roman", Times, serif;
	color: #F36821;	
}

#more a .photo-thumb {
	border-width: 0px;
}

.entry-content {
	padding-top: 10px;
}