/* 
  --------------------------------------
  Elevator Panels
  by Project Seven Development
  www.projectseven.com
  Style Theme: 53 - Cayenne
  --------------------------------------
*/
.p7EPM53 {
	width: auto;
	position: relative;
	zoom: 1;
	font-family: Arial, Helvetica, sans-serif;
	height: 600px;
	margin-right: 10px;
}
.p7EPM53 .p7epm_trigs {
	overflow: hidden;
	background-image: url(img/epm_iefix.gif);
	border-bottom: 1px solid #25408f;
}
.p7EPM53 .p7epm_trigs ul {
	margin: 0px;
	padding: 0px;
}
.p7EPM53 .p7epm_trigs li {
	list-style-type: none;
	margin: 0;
	float: left;
	padding: 0;
}
.p7EPM53 .p7epm_trigs a {
	color: #666;
	padding: 10px 12px;
	display: block;
	text-decoration: none;
	background: no-repeat right top;
	font-family: Tahoma, Verdana, sans-serif;
	font-weight: bold;
}
.p7EPM53 .p7epm_trigs a:hover {
	color: #25408f;
	background: #FFF no-repeat right top;
	text-decoration: none;
}
.p7EPM53 .p7epm_trigs a.current_mark {
	font-weight: bold;
	font-variant: small-caps;
}
.p7EPM53 .p7epm_cwrapper {
	width: 100%;
}
.p7EPM53 .p7epm_content {
	padding: 5px;
	color: #000;
	zoom: 1;
	background: #FFF;
}
.p7EPM53 .p7epm_content.pan1 {
}
.p7EPM53 .p7epm_content.pan2 {}
.p7EPM53 .p7epm_content.pan3 {}
.p7EPM53 .p7epm_content.pan4 {}
.p7EPM53 .p7epm_content.pan5 {}
.p7EPM53 .p7epm_trigs .p7epm_open {
	color: #25408f;
	background: #dedede url(img/boxes-de.gif) no-repeat right top;
	border-top: 1px solid #25408f;
	border-right: 1px solid #25408f;
	border-left: 1px solid #25408f;
}
.p7EPM53 .p7epm_trigs .t1 .p7epm_open {

}
.p7EPM53 .p7epm_trigs .t2 .p7epm_open {

}
.p7EPM53 .p7epm_trigs .t3 .p7epm_open {

}
.p7EPM53 .p7epm_trigs .t4 .p7epm_open {

}
.p7EPM53 .p7epm_trigs .t5 .p7epm_open {

}
.p7EPM53 .p7epm_ie5clear {
	font-size: 0;
	height: 0;
	line-height: 0.0;
}
/*Panel Content Links*/
.p7EPM53 .p7epm_content a {
	color: #2f7ec9;
	text-decoration: none;
}
.p7EPM53 .p7epm_content a:hover {
	color: #2f7ec9;
	text-decoration: underline;
}
.p7EPM53 .p7epm_content a.current_mark {
	font-variant: small-caps;
	font-weight: bold;
	color: #2f7ec9;
}
/*PANEL CONTENT COLUMNS*/
.p7EPM53 .panelColumnWrapper {
	overflow: hidden;
}
.p7EPM53 .panelColumn_50 {
	float: left;
	width: 48%;
	margin-right: 2%;
}
.p7EPM53 .panelColumn_50.rightcolumn {
	margin-right: 0;
}
.p7EPM53 .panelColumn_33 {
	float: left;
	width: 32%;
	margin-right: 2%;
}
.p7EPM53 .panelColumn_33.rightcolumn {
	margin-right: 0;
}
/*LINK LISTS in PANEL COLUMNS*/
.p7EPM53 .linklist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
	font-size: .9em;
}
.p7EPM53 .linklist li {
	margin: 0 0 3px 0;
}
.p7EPM53 .linklist a {
	color: #CCC;
	display: block;
	padding: 3px 12px;
	border: 1px solid #666;
	zoom: 1;
	text-decoration: none;
	background-color: #000;
}
.p7EPM53 .linklist a:hover {
	color: #000;
	border-color: #FF6835 #000 #000 #FF6835;
	text-decoration: none;
	background-color: #E83A00;
}
.p7EPM53 .linklist_tight {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
	font-size: .9em;
}
.p7EPM53 .linklist_tight li {
	margin: 0;
}
.p7EPM53 .linklist_tight a {
	color: #CCC;
	display: block;
	padding: 3px 12px;
	zoom: 1;
	text-decoration: none;
	background-color: #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #252525;
	border-left: 1px solid #333;
}
.p7EPM53 .linklist_tight a:hover {
	color: #4BAFC6;
	text-decoration: none;
}
